<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ferienwohnungen Willrich</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

</head>

<body>
  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Willkommen bei Fewo Willrich</h1>
      <br>
      <h2 style="margin-left:20%; margin-right:20%">
        In den ehemaligen Stallungen begrüßen Sie die Ferienwohnungen Willrich, wohnliche Apartments mit großen
        Zum Freizeitangebot in der Umgebung zählen Skifahren, Radfahren und Angeln. Die Unterkunft verfügt über
        Gärten und kostenfreiem WLAN. Sie wohnen in ruhiger Lage in Blankenheim.
      </h2>
    </div>
  </section><!-- #hero -->

  <main id="main">


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Ferienwohnungen</h3>
          <br>
          <p class="lead">
            Alle Apartments der Ferienwohnungen Willrich verfügen über einen Flachbild-TV, einen DVD-Player und einen
            Sitzbereich. Im Badezimmer erwarten Sie eine Badewanne oder eine Dusche und ein Haartrockner.
          </p>
        </div>

        <div class="row align-items-center featurette wow fadeInUp">
          <div class="col-md-7">
            <h2 class="featurette-heading">Maisonette-Apartment</h2>
            <p class="lead">Das Maisonette Appartement lädt Sie herzlich ein für wunderschöne Tage in Blankenheim und
              Umgebung. Vergessen Sie den Alltagsstress und tanken Sie wieder so richtig Energie.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto fewoPic" role="img" width="500"
              src="/assets/img/fewo1/IMG_8568.JPG">
          </div>
        </div>
        <hr class="featurette-divider  wow fadeInUp">
        <div class="row align-items-center featurette  wow fadeInUp">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Studio-Apartment</h2>
            <p class="lead">
              Unsere Ferienwohnung ist hell und modern. Oben finden Sie das Schlafzimmer, was mit 2 Einzelbetten sowie
              einem Kleiderschrank ausgestattet ist.
              Von dem Schlafzimmer aus haben Sie ein herrlichen Blick auf die Berge.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto fewoPic" role="img" width="500"
              src="/assets/img/fewo2/IMG_8569.JPG">
          </div>
        </div>
        <hr class="featurette-divider  wow fadeInUp">
        <div class="row align-items-center featurette wow fadeInUp">
          <div class="col-md-7">
            <h2 class="featurette-heading">Apartment - auf 2 Etagen</h2>
            <p class="lead">
              Der Eingangsbereich zur Wohnung befindet sich mitten im Garten. Im Obergeschoss sind Wohn-und Schlafraum
              mit 2 Einzelbetten sowie einem Schlafsofa für 2 weitere Gäste. Eine Holztreppe führt in den unteren
              Küche-Essbereich.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto fewoPic" role="img" width="500"
              src="/assets/img/fewo3/IMG_8572.JPG">
          </div>
        </div>


      </div>
    </section><!-- #services -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Kontakt</h3>
          <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">

              <div class="col">
                <p class="lead">
                  Dieser umgebaute Heustall ist für mich Heimat. Meine Kinder sind hier geboren und aufgewachsen. Ich
                  selbst stamme aus dem Schwarzwald und habe hier Geborgenheit gefunden. Kein Autolärm, nur
                  Vogelgezwitscher, Rauschen der Fichten über dem Grillplatz, Sonne, Schatten, die sanften Klänge
                  des Windspiels - einfach herrlich ...
                </p>
                <p class="lead">
                  Wollen Sie eine Buchung vornehmen oder haben noch Fragen? Schreiben Sie uns gern an.
                </p>
              </div>
              <div class="col-lg-3 col-md-4">

                <div class="info">
                  <div>
                    <i class="fa fa-map-marker"></i>
                    <p>Ferienwohnung Willrich<br>Hardtstraße 11, 53945 Blankenheim-Reetz</p>
                  </div>

                  <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:evamariawillrich@gmail.com?subject=Meine Buchungsanfrage">evamariawillrich@gmail.com</a></p>
                  </div>

                  <div>
                    <i class="fa fa-phone"></i>
                    <p>(+49) 2449 1763</p>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe
        src="https://maps.google.com/maps?q=Hardstra%C3%9Fe%2011%2C%2053945%2C%20Reetz%2C%20Blankenheim&t=&z=11&ie=UTF8&iwloc=&output=embed"
        width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>


    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>FeWo Willrich</strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



</body>

</html>
